/* Matthew Darke
   VFW Project 4
   1306 style.css
*/


h1 {
	border:#190ee9;
	font-size: 18px;
	text-align: center;
	color:rgba(253,232,38,1);
	 
}

}
a:link {
	display: inline;
	font-size:22px ;
	font-weight:bold ;
	text-align: -webkit-auto ;
	text-decoration: underline ;
	color: #fb55cc;
	background-color: ;
	padding-left: 20px ;
	width:33px ;
	
}




legend {
	font-size: 40;
	color: #0d0685;
	font-weight: bold;
    border: bold;
}
body {
    background-image: -webkit-linear-gradient(#869da9 25.5%, #c7eeff 100%)
}
h2,h3 {
	font-family: sans-serif;
	font-size: 14px;
	line-height: 1.4em;
	
	color: #ffa81c
}
form fieldset ul input {
    width: 180px;
	padding: 5px;
	margin: 5px;
	
}
li {
	color: rgba(5,34,108,1);
	font-size: 22px;
	letter-spacing: normal;
	
	
	
}
input[type="submit"] {
	margin: 50px;
	margin-top: 5px;
	padding: 13px;
	font-size: larger;
	background-color: #0076a0;
	width: 190px;
	height: 40px;
	text-align: center;
	
	
}
ul.errors {
	text-fill-color:  #f50707;
	padding: 10px;
	font-style: italic;
	font-weight: bold;
	font-size: 20px;
	border: x-large;
	
}
	
label {
	color: rgba(20,23,161,1);
	font-family: sans-serif;
	font-size: 18px;
	font-weight: bold;
    text-align: left	
}	
fieldset {
	background-image:-webkit-linear-gradient(#a2f0fc 0%, #e3e3e3 65.56%);
	border-color: #1505a0;
	padding:20px
	}	
	
input[type="checkbox"] {
	  background-color: #1b0a8b;
	 
	 
}	
input[type="text"] {
	width: 190px;
}
	
ul {
	color: rgba(184,14,14,0);
	
}
input[type="search"] {
    width:280px;
    height:auto;
    
} 
title {
text-align: center;
		